* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#root, body, html{
  background-color: #323b38;
}
.App {
  text-align: center;
  height: 100%;

}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 20px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin-bottom: 1.5em;
}
.navigation > * {
  flex: 1
}

.infoText{
  font-size: 1.6em;
  margin-bottom: 1.5em;
}

.pathInfo{
  font-size: 1.3em;
  margin-bottom: 1rem;
}

button {
  font-size: 1.4em;
  padding: 0.5rem;
  margin: 2px;
  border-radius: 1rem;
  border: 3px solid black;
  background-color: #c4c4c4;
  transition: all 150ms ease-in;
  box-shadow: 1px 1px 1px black;
}
button:hover {
  background-color: #e2e2e2;
}
button:disabled {
  background-color: #505050;
  outline: none;
}

.algButton {
  padding: 1rem;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4rem;
  border: 1px solid black;
  background-color: #004606;
  transition: all 150ms ease-in;
  box-shadow: 5px 5px 5px black;
}
.algButton:hover {
  background-color: #0a5f11;
}
.algButton.active {
  background-color: #0d8817;
}

.grid {
  border: 5px solid #29796b;
  max-width: fit-content;
}

.gridRow {
  display: flex;
  flex-direction: row;
}

.gridCell {
  min-width: 25px;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  transition: background-color 0.3s ease;
}
.gridCell:hover {
  border: 2px solid red;
}
